@page "Customers/Customer/{customerId}/Account/{accountId}/{handler?}"
@model DotNetBanky.Admin.Pages.Customers.Accounts.AccountModel
@{
    ViewData["Title"] = "Account";
}

<div class="row mb-30">
    <div class="col-4">
        <div class="icon-card mb-30">
            <div class="icon success">
                <i class="fas fa-file-invoice-dollar"></i>
            </div>
            <div class="content">
                <h6 class="mb-10">Account Number</h6>
                <h3 class="text-bold mb-10">@Model.InputModel.AccountId</h3>
            </div>
        </div>
        <!-- End Icon Cart -->
    </div>
    <div class="col-4">
        <div class="icon-card mb-30">
            <div class="icon orange">
                <i class="fas fa-calendar-week"></i>
            </div>
            <div class="content">
                <h6 class="mb-10">Creation Date</h6>
                <h3 class="text-bold mb-10">@Model.InputModel.Created.ToShortDateString()</h3>
            </div>
        </div>
        <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
    <div class="col-4">
        <div class="icon-card mb-30">
            <div class="icon primary">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <div class="content">
                <h6 class="mb-10">Total Balance</h6>
                <h3 class="text-bold mb-10">@Model.InputModel.Balance.ToStringFormated()</h3>
            </div>
        </div>
        <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
</div>

<div class="row px-4">
    <div class="card-style">
        <h2>Transactions list</h2>
        <div class="mt-3 table-wrapper table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><h6>Number</h6></th>
                        <th><h6>Type</h6></th>
                        <th><h6>Operation</h6></th>
                        <th><h6>Amount</h6></th>
                        <th><h6>Date</h6></th>
                    </tr>
                    <!-- end table row-->
                </thead>
                <tbody>
                    @foreach (var transaction in Model.InputModel.Transactions)
                    {
                        <tr>
                            <td class="min-width"><p>@transaction.TransactionId</p></td>
                            <td class="min-width"><p>@transaction.Type</p></td>
                            <td class="min-width"><p>@transaction.Operation</p></td>
                            <td class="min-width"><p>@transaction.Amount.ToStringFormated()</p></td>
                            <td class="min-width"><p>@transaction.Date.ToShortDateString()</p></td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- end table -->
        </div>
        <div class="col-lg-12 mt-30 mb-30">
            <div class="d-flex justify-content-evenly">
                <button id="loadBtn" class="main-btn primary-btn btn-sm rounded-full btn-hover shadow-lg">
                    <i class="fas fa-chevron-circle-down mr-10"></i> Show more
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<partial name="_transactionsAjaxReqPartial" />
}
