@page
@model DotNetBanky.Admin.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Customers list";

}

<div class="col-lg-12">
    <div class="card-style mb-30">
        <div class="table-wrapper table-responsive">
            <div class="d-flex justify-content-between py-0 pb-2">
                <div class="header-search d-none d-md-flex">
                    <form asp-page="/Customers/Index" method="get">
                        <input asp-for="Filter" name="filter" type="text" placeholder="Search..." />
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a class="main-btn primary-btn btn-sm rounded-full btn-hover" asp-page="/Customers/Create"><i class="fa-solid fa-plus"></i> Add new Customer</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h6 class="d-inline mr-10">Customer Number</h6>
                            <sort sort-column="@CustomerSortColumn.Id"></sort>
                        </th>
                        <th>
                            <h6 class="d-inline mr-10">Customer Name</h6>
                            <sort sort-column="@CustomerSortColumn.Name"></sort>
                        </th>
                        <th><h6>Email</h6></th>
                        <th><h6>Phone number</h6></th>
                        <th><h6>Action</h6></th>
                    </tr>
                    <!-- end table row-->
                </thead>
                <tbody>
                    @foreach (var customer in Model.PagedResult.Results)
                    {
                        <tr>
                            <td class="min-width"><p>@customer.CustomerId</p></td>
                            <td class="min-width"><p>@customer.FullName</p></td>
                            <td class="min-width"><p>@customer.EmailAddress</p></td>
                            <td class="min-width"><p>@customer.TelephoneNumber</p></td>
                            <td>
                                <div class="action">
                                    <a class="text-active" asp-page="/Customers/Customer" asp-route-customerId="@customer.CustomerId">
                                        <i class="fa-solid fa-user-edit" title="Edit the customer information"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- end table -->
        </div>
        <div class="d-flex justify-content-center">
            <paging page-number="Model.PagedResult.CurrentPage"
                    page-size="Model.PageSize"
                    total-records="Model.PagedResult.RowCount">
            </paging>
        </div>
    </div>
    <!-- end card -->
</div>
<!-- end col -->
