@page
@model DotNetBanky.Admin.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Customers list";
}

<div class="col-lg-12">
    <div class="card-style mb-30">
        <div class="table-wrapper table-responsive">
            <div class="d-flex justify-content-between py-0 pb-2">
                <div class="header-search d-none d-md-flex">
                    <form asp-page="/Customers/Index" method="get">
                        <input asp-for="Filter" name="filter" type="text" placeholder="Search..." />
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a class="main-btn primary-btn btn-sm rounded-full btn-hover" asp-page="/Customers/Create"><i class="fa-solid fa-plus"></i> Add new Customer</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h6 class="d-inline mr-10">Customer Number</h6>
                            <a class="btn p-0"
                               asp-page="/Customers/Index"
                               asp-route-filter="@Model.Filter"
                               asp-route-pageNumber="@Model.PagedResult.CurrentPage"
                               asp-route-sortColumn="@CustomerSortColumn.Id"
                               asp-route-sortDirection="@SortDirection.Asc">
                                <i class="fa fa-angle-up"></i>
                            </a>
                            <a class="btn p-0"
                               asp-page="/Customers/Index"
                               asp-route-filter="@Model.Filter"
                               asp-route-pageNumber="@Model.PagedResult.CurrentPage"
                               asp-route-sortColumn="@CustomerSortColumn.Id"
                               asp-route-sortDirection="@SortDirection.Desc">
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </th>
                        <th>
                            <h6 class="d-inline mr-10">Customer Name</h6>
                            <a class="btn p-0"
                               asp-page="/Customers/Index"
                               asp-route-filter="@Model.Filter"
                               asp-route-pageNumber="@Model.PagedResult.CurrentPage"
                               asp-route-sortColumn="@CustomerSortColumn.Name"
                               asp-route-sortDirection="@SortDirection.Asc">
                                <i class="fa fa-angle-up"></i>
                            </a>
                            <a class="btn p-0"
                               asp-page="/Customers/Index"
                               asp-route-filter="@Model.Filter"
                               asp-route-pageNumber="@Model.PagedResult.CurrentPage"
                               asp-route-sortColumn="@CustomerSortColumn.Name"
                               asp-route-sortDirection="@SortDirection.Desc">
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </th>
                        <th><h6>Email</h6></th>
                        <th><h6>Phone number</h6></th>
                        <th><h6>Action</h6></th>
                    </tr>
                    <!-- end table row-->
                </thead>
                <tbody>
                    @foreach (var customer in Model.PagedResult.Results)
                    {
                        <tr>
                            <td class="min-width"><p>@customer.CustomerId</p></td>
                            <td class="min-width"><p>@customer.FullName</p></td>
                            <td class="min-width"><p>@customer.EmailAddress</p></td>
                            <td class="min-width"><p>@customer.TelephoneNumber</p></td>
                            <td>
                                <div class="action">
                                    <a class="text-active" asp-page="/Customers/Customer" asp-route-customerId="@customer.CustomerId">
                                        <i class="fa-solid fa-user-edit" title="Edit the user information or delete the user"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- end table -->
        </div>
        <nav exclude-if="@Model.PagedResult.PageCount <= 1" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li include-if="@(Model.PagedResult.CurrentPage > 1)" class="page-item">
                    <a class="page-link" asp-page="/Customers/Index"
                       asp-route-filter="@Model.Filter"
                       asp-route-pageNumber="@(Model.PagedResult.CurrentPage-1)"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortDirection="@Model.SortDirection"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (var i = Model.PagedResult.CurrentPage; i <= (Model.PagedResult.PageCount < Model.PagedResult.CurrentPage + 4 ? Model.PagedResult.PageCount : Model.PagedResult.CurrentPage + 4); i++)
                {
                    <li class="@(Model.PagedResult.CurrentPage == i ? "page-item active" : "page-item")">
                        <a class="page-link" asp-page="/Customers/Index"
                       asp-route-filter="@Model.Filter"
                       asp-route-pageNumber="@i"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortDirection="@Model.SortDirection">@i</a>
                    </li>
                }
                <li exclude-if="@(Model.PagedResult.CurrentPage == Model.PagedResult.PageCount)" class="page-item">
                    <a class="page-link" asp-page="/Customers/Index"
                       asp-route-filter="@Model.Filter"
                       asp-route-pageNumber="@(Model.PagedResult.CurrentPage+1)"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortDirection="@Model.SortDirection"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- end card -->
</div>
<!-- end col -->
